<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version ="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<connectionStrings>
		<add name="sqlconfig"
			 connectionString="Server=SKRYLOVA;Database=Mydb2;User ID=my_admin;Password=123"
			 providerName="System.Data.SqlClient"
			 />
	</connectionStrings>
</configuration>